@model IEnumerable<User>

@{
    ViewData["Title"] = "Usuarios";
}
<h2 class="mb-5">@ViewData["Title"]</h2>

<p>
    <a class="btn btn-success" asp-controller="Users" asp-action="Create">Registrar Nuevo Usuario</a>
</p>

<table class="table table-striped">
    <thead>
    <tr class="table-dark">
        <th>Id</th>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="table-light">@item.Id</td>
            <td>@item.Name</td>
            <td>@item.DNI</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>
                <a class="btn btn-sm" asp-action="UserHistory" asp-controller="Leans" asp-route-userId="@item.Id" data-toggle="tooltip" title="Ver Préstamos"><i data-lucide="archive"></i></a>
                <a class="btn btn-sm" asp-action="Edit" asp-controller="Users" asp-route-userId="@item.Id" data-toggle="tooltip" title="Editar"><i data-lucide="pencil"></i></a>
                <a class="btn btn-sm" asp-action="Delete" asp-controller="Users" asp-route-userId="@item.Id" data-toggle="tooltip" title="Eliminar"><i data-lucide="trash-2"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>